Package: com.legendcoders.smssig
Name: SMS Signuture 
Depends: mobilesubstrate
Version: 0.0.1-13
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: InfectionFX
Author: InfectionFX
Section: Tweaks
Installed-Size: 36
